!!! 5
%html
  %body
    %p
      Dear #{@provider.name},
    %p
      %strong Thanks for signing up!
    %p
      = link_to 'Please click the link to verify your account.', @provider
    %p
      GravyTrain Team
