!!! 5
%html
  %body
    %p
      Dear #{@provider.name},
    %p
      %strong Thanks for signing up!
    %p
      = link_to 'Please click the link to verify your account.', confirm_provider_url(@provider, token: @provider.token)
    %p
      GravyTrain Team
